<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MyProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<!-- 类名 -->
  	<servlet-name>HelloServlet</servlet-name>
  	<!-- 所在包 -->
  	<servlet-class>com.run.test</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HelloServlet</servlet-name>
  	<!-- 访问的地址 -->
  	<url-pattern>/MyProject/HelloServlet</url-pattern>
  </servlet-mapping>
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<filter-class>com.run.test.LoginFilter</filter-class>
  	<!-- 初始化时param参数在loginfilter拦截器中可以获取到 -->
  	<init-param>
  		<param-name>site</param-name>
  		<param-value>菜鸟教程</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
	<filter-name>LoginFilter</filter-name>
	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>DisplayHeader</servlet-name>
  	<servlet-class>com.run.test.DisplayHeader</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DisplayHeader</servlet-name>
  	<url-pattern>/MyProject/DisplayHeader</url-pattern>
  </servlet-mapping>
  <servlet>
  	<display-name>UploadServlet</display-name>
  	<servlet-name>UploadServlet</servlet-name>
  	<servlet-class>com.run.test.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UploadServlet</servlet-name>
  	<url-pattern>/MyProject/UploadServlet</url-pattern>
  </servlet-mapping>
  <jsp-config>
	    <taglib>
	    <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
	    <taglib-location>/WEB-INF/fmt.tld</taglib-location>
	    </taglib>
	    <taglib>
	    <taglib-uri>http://java.sun.com/jstl/fmt-rt</taglib-uri>
	    <taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
	    </taglib>
	    <taglib>
	    <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
	    <taglib-location>/WEB-INF/c.tld</taglib-location>
	    </taglib>
	    <taglib>
	    <taglib-uri>http://java.sun.com/jstl/core-rt</taglib-uri>
	    <taglib-location>/WEB-INF/c-rt.tld</taglib-location>
	    </taglib>
	    <taglib>
	    <taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
	    <taglib-location>/WEB-INF/sql.tld</taglib-location>
	    </taglib>
	    <taglib>
	    <taglib-uri>http://java.sun.com/jstl/sql-rt</taglib-uri>
	    <taglib-location>/WEB-INF/sql-rt.tld</taglib-location>
	    </taglib>
	    <taglib>
	    <taglib-uri>http://java.sun.com/jstl/x</taglib-uri>
	    <taglib-location>/WEB-INF/x.tld</taglib-location>
	    </taglib>
	    <taglib>
	    <taglib-uri>http://java.sun.com/jstl/x-rt</taglib-uri>
	    <taglib-location>/WEB-INF/x-rt.tld</taglib-location>
	    </taglib>
	    <taglib>  
          <taglib-uri>http://java.sun.com/jstl/my-rt</taglib-uri>  
           <taglib-location>/WEB-INF/custom.tld</taglib-location>  
       </taglib>  
    </jsp-config>
</web-app>